<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Researcher at Fondation Artanim</h1>
            <span><address>Meyrin, Switzerland</address><time>Dec 2012 - Nov 2015</time></span>
        </header>
		<ul  class="disc">
		    <li>R&D lead on <a href="http://www.nobrandsolution.com/">Taylormatic</a>. A Unity3D based garment customization platform.</li>
		    <li>Developer on <a href="http://www.artanim.ch/RealVirtuality">Real Virtuality</a>. A VR platform combining VR headsets and motion capture.</li>
			<li>R&D of a position-based dynamics approach to the <a href="https://www.youtube.com/watch?v=EvqPDUWpevs">physical simulation of muscle elongation</a>.</li>
			<li>Developer on a series of games for an exhibit at the Natural History Museum of Geneva.</li>
			<li>Developer on <a href="http://artaniminteractive.com/motion-controlled-interactive-display/">“Motion Controlled Interactive Display”</a>, a Kinect controlled video carousel and viewer.</li>
			<li>Developer on the <a href="http://www.teoleonie.com/">“Téo et Léonie”</a> mobile applications for iOS and Android, providing an animated audio book and AR content.</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Research Assistant at University of Geneva</h1>
            <span><address>Geneva, Switzerland</address><time>Oct 2006 - Sep 2012</time></span>
        </header>
		<ul  class="disc">
		    <li>Research into the CUDA-based implementation of physics based garment simulation software.</li>
			<li>Development of a real-time virtual fashion platform, Virtual Try On.</li>
			<li>Maintenance of and support for in-house VR/AR engine VHD++</li>
			<li>Contributing author to several EU and Swiss National research proposals.</li>
			<li>Lab representative in EU funded research projects SERVIVE and 3DLife.</li>
			<li>Member of 3DLife’s Network Steering Board.</li>
			<li>Assistance in the organization of the CGI 2010 conference in Singapore.</li>
		</ul>		
    </article>
    <article>
        <header>
            <h1>Member of Editorial Office for The Visual Computer</h1>
            <span><address>Geneva, Switzerland</address><time>Oct 2006 - Sep 2010</time></span>
        </header>
		<ul class="disc">
			<li>Management of all (>1000) research paper submissions from initial submission to publication.</li>
			<li>Assistance in the scheduling of each monthly issue including special issues.</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Visiting Researcher at Nanyang Technological University</h1>
            <span><address>Singapore</address><time>Jun 2010 - Jul 2010</time></span>
        </header>
		<ul class="disc">
			<li>Assistance during the CGI 2010 conference in Singapore.</li>
			<li>Various demonstrations of VTO technology to academic and commercial visitors.</li>
			<li>Technology exchange with IMI related to the MIRALab’s Virtual Try On technology.</li>
		</ul>
    </article>
</section>
