<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead R&D Engineer at <a href="http://www.artanim.ch">Fondation Artanim</a></h1>
            <span><address><a href="https://www.google.ch/maps/place/Chemin+du+Grand-Puits+40,+1217+Meyrin/@46.2255855,6.0742181,278m">Meyrin, Switzerland</a></address><time>May 2020 - current</time></span>
        </header>
        <ul  class="disc">
            <li><a href="https://vrtogether.eu/">Research lead in H2020 project VR-Together.</a></li>
            <li><a href="https://artanim.ch/project/mayflower-vr/">Development lead on the "Aboard the Mayflower" VR experience for the International Museum of the Reformation.</a></li>
            <li><a href="https://artanim.ch/project/superimposed-realities/">Development lead on the "Superimposed Realities" project.</a></li>
        </ul>                  
    </article> 	
    <article>
        <header>
            <h1>Senior R&D Engineer at <a href="http://www.artanim.ch">Fondation Artanim</a></h1>
            <span><address><a href="https://www.google.ch/maps/place/Chemin+du+Grand-Puits+40,+1217+Meyrin/@46.2255855,6.0742181,278m">Meyrin, Switzerland</a></address><time>Aug 2018 - May 2020</time></span>
        </header>
        <ul  class="disc">
            <li><a href="https://vrtogether.eu/">Research lead in H2020 project VR-Together.</a></li>
            <li><a href="http://www.artanim.ch">Development lead for Avenergy Hololens demo.</a></li>
            <li><a href="http://artanim.ch/project/cyclovr/">Development lead on CycloVR, a VR experience aiming to gamify physical rehabilitation.</a></li>
			<li><a href="http://artanim.ch/project/geneva-1850/">Developer on various aspects around the Geneva 1850 experience.</a></li>
        </ul>          
    </article>    
    <article>
        <header>
            <h1>Senior Software Developer at <a href="http://www.ozwe.com">OZWE Games</a></h1>
            <span><address><a href="https://www.google.ch/maps/place/Ozwe+S%C3%A0rl/@46.5229937,6.6251268,777m/data=!3m2!1e3!4b1!4m5!3m4!1s0x478c31d45118de6d:0x97cb6b4d6194d710!8m2!3d46.52299!4d6.6273155?hl=en">Lausanne, Switzerland</a></address><time>April 2016 - July 2018</time></span>
        </header>
        <ul  class="disc">
            <li><a href="http://www.ozwe.com/ansharonline/">Developer on Anshar Online, a cross-platform and cross play VR MMO Space Shooter for Oculus Go, Oculus Rift and Gear VR.</a></li>
            <li><a href="http://www.ozwe.com">Developer on Anshar Wars 2. A VR Space Shooter for Gear VR and Oculus Rift.</a></li>
        </ul>        
    </article>
    <article>
        <header>
            <h1>Senior Researcher at <a href="http://www.artanim.ch">Fondation Artanim</a></h1>
            <span><address><a href="https://www.google.ch/maps/place/Chemin+du+Grand-Puits+40,+1217+Meyrin/@46.2255855,6.0742181,278m">Meyrin, Switzerland</a></address><time>Dec 2012 - Jan 2016</time></span>
        </header>
		<ul  class="disc">
		    <li><a href="http://www.nobrandsolution.com/">R&D lead on Taylormatic. A Unity3D based garment customization platform.</a></li>
		    <li><a href="http://www.artanim.ch/RealVirtuality">Developer on Real Virtuality. A VR platform combining VR headsets and motion capture.</a></li>
			<li><a href="https://www.youtube.com/watch?v=EvqPDUWpevs">R&D of a position-based dynamics approach to the physical simulation of muscle elongation</a>.</li>
			<li><a href="http://bart.kevelham.com/2015/12/30/what-do-you-know-about-dinosaurs/">Developer on a series of touch-screen based games</a> for the "Faites comme chez nous" exhibit at the <a href="https://www.ville-ge.ch/mhng/expo_2015_fccn.php" target="_blank">Natural History Museum of Geneva</a>.</li>
			<li><a href="http://artaniminteractive.com/motion-controlled-interactive-display/">Developer on “Motion Controlled Interactive Display”, a Kinect controlled video carousel and viewer.</a></li>
			<li><a href="http://www.teoleonie.com/">Developer on the “Téo et Léonie” mobile applications for iOS and Android, providing an animated audio book and AR content.</a></li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Research Assistant at <a href="http://www.miralab.ch">University of Geneva</a></h1>
            <span><address>Geneva, Switzerland</address><time>Oct 2006 - Sep 2012</time></span>
        </header>
		<ul  class="disc">
		    <li>Research into the CUDA-based implementation of physics based garment simulation software.</li>
			<li>Development of a real-time virtual fashion platform, Virtual Try On.</li>
			<li>Maintenance of and support for in-house VR/AR engine VHD++</li>
			<li>Contributing author to several EU and Swiss National research proposals.</li>
			<li>Lab representative in EU funded research projects <a href="https://www.iit.demokritos.gr/project/servive" target="_blank">SERVIVE</a> and <a href="http://cordis.europa.eu/project/rcn/93719_en.html" target="_blank">3DLife</a>.</li>
			<li>Member of 3DLife’s Network Steering Board.</li>
			<li>Assistance in the organization of the <a href="http://cgi2010.miralab.unige.ch/CGI_Organization.html" target="_blank">CGI 2010 conference in Singapore</a>.</li>
		</ul>		
    </article>
    <article>
        <header>
            <h1>Member of Editorial Office for <a href="http://link.springer.com/journal/371">The Visual Computer</a></h1>
            <span><address>Geneva, Switzerland</address><time>Oct 2006 - Sep 2010</time></span>
        </header>
		<ul class="disc">
			<li>Management of all (>1000) research paper submissions from initial submission to publication.</li>
			<li>Assistance in the scheduling of each monthly issue including special issues.</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Visiting Researcher at Nanyang Technological University</h1>
            <span><address>Singapore</address><time>Jun 2010 - Jul 2010</time></span>
        </header>
		<ul class="disc">
			<li>Assistance during the CGI 2010 conference in Singapore.</li>
			<li>Various demonstrations of VTO technology to academic and commercial visitors.</li>
			<li>Technology exchange with IMI related to the MIRALab’s Virtual Try On technology.</li>
		</ul>
    </article>
</section>
