<section class="thirteen columns">
    <h1>Languages</h1>
    <article>
        <span style="display:inline-block; width:75px;">Dutch</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br/>
        <span style="display:inline-block; width:75px;">English</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br/>
		<span style="display:inline-block; width:75px;">German</span>  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><br/>
        <span style="display:inline-block; width:75px;">French</span>  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>			
    </article>
</section>