<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>HUMAN4D: A Human-Centric Multimodal Datasete for Motions & Immersive Media</h1>
            <span><i>Chatzitofis A, Saroglou L, Boutis P, Drakoulis P, Zioulis N, Subramanyam S, Kevelham B, Charbonnier C, Cesar P, Zarpalas D, Kollias S, Daras P.</i> IEEE Access, Early access, 23 September 2020.</span>
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9204617" target="_blank">(PDF)</a>
            <a href="https://tofis.github.io/human4d_dataset/" target="_blank">(Dataset)</a>
        </header>
    </article>        
    <article>
        <header>
            <h1>Shoulder Strengthening Exercises Adapted to Specific Shoulder Pathologies Can Be Selected Using New Simulation Techniques: A Pilot Study</h1>
            <span><i>Charbonnier C, PhD, Lädermann A, MD, Kevelham B, MS, Chagué S, MS, Hoffmeyer P, MD, Holzer N, MD, PhD.</i> To be published in IJCARS</span>
            <a href="http://www.charbonnier.ch/pdf/publications/73.pdf" target="_blank">(PDF)</a>
        </header>
    </article>        
    <article>
        <header>
            <h1>ArthroPlanner: A Surgical Planning Solution for Acromioplasty</h1>
            <span><i>Charbonnier C, Chagué S, Kevelham B, Kolo F.C., Lädermann A.</i> 30th International Congress of Computer Assisted Radiology and Surgery, Heidelberg, Germany, Int J CARS, June 2016.</span>
            <a href="http://www.artanim.ch/en/viewPdf.php?link=publication&pdf=55.pdf" target="_blank">(PDF)</a>
        </header>
    </article>    
    <article>
        <header>
            <h1>Impact of Shoulder Strengthening Exercises on the Shoulder Joint</h1>
            <span><i>Charbonnier C, Kevelham B, Chagué S, Lädermann A, Ziltener JL, Hoffmeyer P, Holzer N.</i> 33rd International Conference on Biomechanics in Sports, Poitiers, France, June 2015.</span>
			<a href="http://www.artanim.ch/en/viewPdf.php?link=publication&pdf=44.pdf" target="_blank">(PDF)</a>
        </header>
    </article>
    <article>
        <header>
            <h1>A Simplified Technique To Estimate Rotator Cuff Elongation During Complex Shoulder Motion</h1>
            <span><i>Charbonnier C, Kevelham B, Chagué S, Lädermann A, Ziltener JL, Hoffmeyer P, Holzer N.</i> 29th International Congress of Computer Assisted Radiology and Surgery, Barcelona, Spain, Int J CARS, June 2015.</span>
			<a href="http://www.artanim.ch/en/viewPdf.php?link=publication&pdf=42.pdf" target="_blank">(PDF)</a>
        </header>
    </article>
    <article>
        <header>
            <h1>An Application Framework for Adaptive Distributed Simulation and 3D Rendering Services</h1>
            <span><i>N.A. Nijdam, B. Kevelham, S. Han, N. Magnenat-Thalmann</i> ACM SIGGRAPH VRCAI 2012</span>
			<a href="http://dl.acm.org/citation.cfm?id=2407516.2407549" target="_blank">(ACM Digital Library)</a>
        </header>
    </article>
    <article>
        <header>
            <h1>Fast and Accurate GPU-based Simulation of Virtual Garments</h1>
            <span><i>B. Kevelham, N. Magnenat-Thalmann</i> Fast and Accurate GPU-based Simulation of Virtual Garments, ACM SIGGRAPH VRCAI 2012 Short Paper</span>
			<a href="http://dl.acm.org/citation.cfm?id=2407516.2407570" target="_blank">(ACM Digital Library)</a>			
        </header>
    </article>
    <article>
        <header>
            <h1>Virtual try on : an application that needs GPU acceleration</h1>
            <span><i>B. Kevelham, N. Magnenat-Thalmann</i> Proceedings of the ATIP/A*CRC Workshop on Accelerator Technologies in High Performance Computing, 2012, Pages 10:1-10:9.</span>
			<a href="http://dl.acm.org/citation.cfm?id=2346696.2346709" target="_blank">(ACM Digital Library)</a>			
        </header>
    </article>
    <article>
        <header>
            <h1>An Interactive Virtual Try On</h1>
            <span><i>N. Magnenat-Thalmann, P. Volino, B. Kevelham, M. Kasap, Q. Tran, M. Arévalo, G. Priya, N. Cadi</i> Virtual Reality Conference  (VR), 2011 IEEE, Pages 263-264.</span>
			<a href="http://dx.doi.org/10.1109/VR.2011.5759499" target="_blank">(DOI)</a>
        </header>
    </article>
    <article>
        <header>
            <h1>3D Web-Based Virtual Try On of Physically Simulated Clothes</h1>
            <span><i>N. Magnenat-Thalmann, B. Kevelham, P. Volino, M. Kasap, E. Lyard</i> Computer-Aided Design & Applications, Volume 8, Issue 2, Pages 163-174.</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Rapid Development of Distributed Applications using High-Level Communication Support</h1>
            <span><i>M. Lim, B. Kevelham, N. Nijdam, N. Magnenat-Thalmann</i> Journal of Network and Computer Applications. Volume 34, Issue 1, January 2011, Pages 172-182</span>
			<a href="http://dx.doi.org/10.1016/j.jnca.2010.08.003" target="_blank">(DOI)</a>			
        </header>
    </article>	
    <article>
        <header>
            <h1>A Context-Aware Adaptive Rendering System for User-Centric Pervasive Computing Environments</h1>
            <span><i>N.A. Nijdam, S. Han, B. Kevelham, N. Magnenat-Thalmann</i> MELECON 2010, Valletta Malta, 25-28 April 2010.</span>
			<a href="http://www.miralab.ch/repository/papers/542.pdf" target="_blank">(PDF)</a>
        </header>
    </article>
	    <article>
        <header>
            <h1>Tools for Populating Cultural Heritage Environments with Interactive Virtual Humans</h1>
            <span><i>D. Arnold, A. Day, J. Glauert, S. Haegler, V. Jennings, B. Kevelham, R. Laycock, N. Magnenat-Thalmann, J. Maïm, D. Maupu, G. Papagiannakis, D. Thalmann, B. Yersin, and K. Rodriguez-Echavarria</i> Open Digital Cultural Heritage Systems, EPOCH Final Event Rome, February 2008.</span>
        </header>
    </article>
</section>
